services:
  - type: web
    name: role-play-api
    runtime: docker
    region: oregon
    plan: free
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: ConnectionStrings__DefaultConnection
        sync: false  
    healthCheckPath: /health